{% extends "layout.twig" %}

{% block content %}
	<h2>Administración del blog</h2>
	<ul>
		<li>
			<a href="{{ 'admin/posts' | url }}">Control de Posts</a>
		</li>
		<li>
			<a href="{{ 'admin/users' | url }}">Control de Usuarios</a>
		</li>
	</ul>
{% endblock %}

{% block content2 %}
	<footer>&copy; Blogitage 2018. All rights reserved. <a href="{{ '' | url }}">Inicio</a></footer>
{% endblock %}
