{% extends "layout.twig" %}

{% block content %}
	<h2>Escribe un nuevo post</h2><br><br>

	<a class="btn btn-secondary" href="{{ 'admin/posts' | url }}">Regresar</a><br><br>

	{% if result %}
		<!--ejecutamos mensaje de alerta si hay éxito en el query-->
		<div class="alert alert-success">Has pubicado con éxito!</div>
	{% endif %}
	{% if errors %}
		{% include('partials/errors.twig') %}
	{% endif %}	

	<form action="" method="POST">
		<div class="form-group">
			<label for="inputTitle">Título</label>
			<input class="form-control" type="text" name="title" id="inputTitle" size="80" maxlength="80">
		</div>
		<label for="inputContent">Contenido</label>
		<textarea class="form-control" name="content" id="inputContent" cols="90" rows="20"></textarea>
		<br>
		<input class="btn btn-primary" type="submit" value="Publicar" name="">
	</form>
{% endblock %}

{% block content2 %}
<footer>&copy; Blogitage 2018. All rights reserved. <a href="{{ '' | url }}">Inicio</a></footer>
{% endblock %}

