{% extends "layout.twig" %}

{% block content %}
	<h2>Post Manage System</h2>
	<a class="btn btn-primary" href="{{ 'admin/posts/create' | url }}">New Post</a><br><br>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr	>

		{% for blogPost in blogPosts %}
			<tr>
				<td>{{ blogPost.title }}</td>
				<td>{{ blogPost.content[0:100] }}...</td>
				<td><a href="">Edit</a></td>
				<td><a href="">Delete</a></td>
			</tr>
		{% endfor %}

	</table>
{% endblock %}

{% block content2 %}
	<footer>&copy; Blogitage 2018. All rights reserved. <a href="{{ '' | url }}">Inicio</a></footer>
{% endblock %}
